/*===============================common styles==============================*/
body {
    font-family: 'Montserrat', 'Geneva', sans-serif;
}

button,
button:focus {
    cursor: pointer;
    outline: none;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

a:active {
    color: #2b7de0;
}

img {
    max-width: 100%;
}

/*==============================catalog-module=================================*/

/*------------------------------card-block--------------------------------------*/
.card {
    background-color: white;
    display: flex;
    outline: 1px solid #f5f6f9;
    width: 720px;
}

@media (max-width: 480px) {
    .card {
        display: flex;
        flex-direction: column;
        outline: none;
        padding: 36px 33px 30px 52px;
        box-sizing: border-box;
        width: 480px;
    }
}

/*------------------------------picture-block-----------------------------------*/
.picture {
    flex: none;
    height: 115px;
    left: 0;
    margin: 26px -1px 40px 26px;
    top: 0;
    width: 116px;
}

.picture__tags-container {
    margin: -1px 0 0 0;
    position: absolute;
    z-index: 146;
}

.picture__tags-footer {
    display: flex;
    flex-direction: row;
}

@media (max-width: 480px) {
    .picture {
        flex: none;
        height: 377px;
        width: 378px;
        margin: 0 0 32px 0;
    }

    .picture__tags-container {
        display: flex;
        flex-direction: row;
    }
}

/*---------------------------tag-block--------------------------------*/

.tag {
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 9px;
    height: 19px;
    line-height: 15px;
    margin: 0 2px 2px 0;
    padding: 2px 7px 4px 6px;
}

.tag_green,
.tag_purple,
.tag_red {
    color: white;
}

.tag_yellow {
    color: black;
}

.tag_green {
    background-color: #62c34b;
    width: 55px;
}

.tag_purple {
    background-color: #7558cd;
    width: 75px;
}

.tag_yellow {
    background-color: #f7d33b;
    width: 42px;
}

.tag_red {
    background-color: #e74650;
    width: 30px;
}

@media (max-width: 480px) {
    .tag {
        line-height: 15px;
        font-size: 12px;
        height: 26px;
        padding: 5px 8px;
        margin: 1px 3px 0 0;
    }

    .tag_purple {
        width: 99px;
    }

    .tag_green {
        width: 72px;
    }

    .tag_yellow {
        width: 57px;
    }

    .tag_red {
        width: 38px;
    }
}

/*-----------------------------info-block------------------------------------*/
.info {
    height: 168px;
    margin: 23px 63px -11px 26px;
    width: 326px;
}

.info__name,
.info__performance_block_dash,
.info__performance_block_right {
    color: #333333;
}

.info__name {
    font-size: 12px;
}

.info > div,
.info > aside {
    font-size: 10px;
    line-height: 15px;
}

.info__description {
    margin: 11px 0 23px 0;
}

.info__performance {
    margin: -6px 0 0 0;
}

.info__description,
.info__performance_block_left {
    color: #777777;
}

.info__performance_block_dash {
    margin: 0 5px;
}

@media (max-width: 480px) {
    .info {
        margin: 0;
        width: 100%;
    }

    .info__name {
        font-size: 16px;
    }

    .info__description {
        margin: 21px 0 27px 0;
    }

    .info > div,
    .info > aside {
        font-size: 13px;
    }

    .info > div {
        line-height: 19px;
    }

    .info > aside {
        line-height: 21px;
    }
}

/*---------------------------------options-block----------------------------*/
.options {
    margin: 28px -1px 21px -1px;
    width: 139px;
}

.options__in-stock,
.options__price {
    line-height: 15px;
}

.options__in-stock {
    font-size: 8px;
    margin: -6px 15px -8px 0;
    text-transform: uppercase;
}

.expected {
    color: #f28c29;
}

.available {
    color: #5fa800;
}

.options__price {
    color: #333333;
    font-size: 13px;
    margin: 15px 0 0 0;
}

.options__old-price {
    color: #777777;
    font-size: 10px;
    line-height: 15px;
    margin: 3px 0 0 0;
    text-decoration: line-through;
}

.options__quantity {
    align-items: center;
    border: 1px solid #f0f0f1;
    border-radius: 2px;
    background-color: #f8f9fb;
    display: flex;
    font-size: 9px;
    height: 26px;
    justify-content: space-between;
    line-height: 15px;
    margin: 13px -1px 0;
    width: 139px;
}

.options__quantity_sign {
    padding: 0 1px 0 0;
    stroke: #777777;
}

.options__quantity_sign_active {
    stroke: #2b7de0;
}

.options__quantity_changer,
.options__quantity_changer:focus {
    background-color: inherit;
    border: none;
}

.options__buy-button {
    background-color: #2b7de0;
    border: none;
    box-sizing: border-box;
    color: white;
    font-size: 10px;
    height: 26px;
    line-height: 15px;
    margin: 1px 0 11px 0;
    outline: none;
    text-transform: uppercase;
    width: 139px;
}

.options__buy-button_active {
    background-color: #4289e0;
}

.options__product-feature {
    align-items: flex-start;
    color: #777777;
    display: flex;
    font-size: 9px;
    line-height: 15px;
    margin: -1px 0 0 0;
    overflow-wrap: break-word;
}

.options__product-feature_logo {
    margin: 0 4px 0 0;
}

@media (max-width: 480px) {
    .options {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 49px 0 0 2px;
    }

    .options__actions {
        width: 191px;
        height: 140px;
    }

    .options__in-stock {
        font-size: 11px;
        margin: -8px 0 0 -2px;
    }

    .options__price {
        font-size: 17px;
        font-weight: bold;
    }

    .options__old-price {
        font-size: 13px;
        margin: 7px 0 0 0;
    }

    .options__quantity {
        width: 100%;
        height: 34px;
        font-size: 13px;
        margin: 22px 0 3px -2px;
    }

    .options__buy-button {
        width: 100%;
        height: 35px;
        font-size: 12px;
        margin: 1px 0 0 -1px;
    }

    .options__product-feature_logo {
        width: 17px;
        height: 17px;
        flex: none;
        margin: 0 8px 0 0;
    }

    .options__product-feature {
        font-size: 12px;
        white-space: nowrap;
        position: absolute;
        right: 20px;
        margin: 7px 0 0 0;
    }
}