/*===============================common styles==============================*/
body {
    font-family: 'Montserrat', 'Geneva', sans-serif;
    font-size: 16px;
}

button,
button:focus {
    cursor: pointer;
    outline: none;
}

a:link,
a:visited,
a:active {
    color: #333333;
    text-decoration: none;
}

a:active {
    color: #2b7de0;
}

img {
    max-width: 100%;
}

input[type=text] {
    background: inherit;
    border: none;
    outline: none;
    width: 100%;
    font: inherit;
    text-align: center;
}

@media (max-width: 480px) {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/*==============================catalog-module=================================*/

/*------------------------------card-block--------------------------------------*/
.card {
    background: white;
    display: flex;
    outline: 1px solid #f5f6f9;
}

/* все карточки приподняты на пиксель, чтобы рамки находили друг на друга */

.catalog-list__item {
    margin: 1px 0 0 0;
}

.card__picture {
    flex: none;
    height: 115px;
    left: 0;
    margin: 24px 0 40px 26px;
    top: 0;
    width: 116px;
}

.card__img {
    height: auto;
    width: 100%;
}

.card__tag {
    margin: 0 2px 2px 0;
    padding: 2px 7px 4px 6px;
}

.card__info {
    margin: 23px 61px 0 25px;
    width: 326px;
}

.card__name,
.car-performance__value {
    color: #333333;
}

.card__name {
    font-size: 12px;
}

.car-performance,
.card__description {
    font-size: 10px;
    line-height: 15px;
}

.card__description {
    margin: 11px 0 15px 0;
}

.car-performance__type,
.car-performance__value {
    display: inline;
}

.card__description,
.car-performance__type {
    color: #777777;
}

.car-performance__value::before {
    margin: 0 5px;
    content: "—";
}

.card__options {
    margin: 21px 0 21px 0;
    width: 139px;
}

.price {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    margin: 7px 0 0 0;
    line-height: 15px;
}

.price-old {
    color: #777777;
    font-size: 10px;
    line-height: 15px;
    margin: 4px 0 -2px 0;
    text-decoration: line-through;
}

.quantity {
    align-items: center;
    border: 1px solid #f0f0f1;
    border-radius: 2px;
    background: #f8f9fb;
    display: flex;
    font-size: 9px;
    height: 26px;
    justify-content: space-between;
    line-height: 15px;
    margin: 13px 0 0 0;
    width: 139px;
}

.quantity__sign {
    padding: 0 1px 0 0;
    stroke: #777777;
    width: 12px;
    height: 12px;
}

.quantity__sign:active {
    stroke: #2b7de0;
}

.quantity__changer,
.quantity__changer:focus {
    background: inherit;
    border: none;
}

.card__buy-button {
    background: #2b7de0;
    border: none;
    box-sizing: border-box;
    color: white;
    font-size: 10px;
    height: 26px;
    line-height: 15px;
    margin: 1px 0 10px 1px;
    outline: none;
    padding: 2px 0 0 0;
    text-transform: uppercase;
    width: 139px;
}

.card__buy-button:active {
    background: #4289e0;
}

@media (max-width: 480px) {
    .card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        outline: none;
        padding: 34px 33px 39px 52px;
        width: 480px;
    }

    .card__picture {
        flex: none;
        height: 377px;
        margin: 0 0 33px 0;
        width: 378px;
    }

    .card__tag {
        margin: 1px 4px 0 0;
        padding: 5px 8px;
    }

    .card__info {
        margin: 0;
        width: 100%;
    }

    .card__name {
        font-size: 16px;
    }

    .card__description {
        margin: 19px 0 20px 0;
    }

    .car-performance,
    .card__description {
        font-size: 13px;
    }

    .card__description {
        line-height: 19px;
    }

    .car-performance {
        line-height: 21px;
    }
}

/*-------------------------------tag-block---------------------------------*/

.tag-feature {
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 9px;
    height: 19px;
    line-height: 15px;
}

.tag-feature--new,
.tag-feature--recommend,
.tag-feature--hit {
    color: white;
}

.tag-feature--new {
    background: #62c34b;
    width: 55px;
    flex-basis: 55px;
}

.tag-feature--recommend {
    background: #7558cd;
    width: 75px;
    flex-basis: 75px;
}

.tag-feature--discount {
    color: black;
    background: #f7d33b;
    width: 42px;
    flex-basis: 42px;
}

.tag-feature--hit {
    background: #e74650;
    width: 30px;
    flex-basis: 30px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    position: absolute;
    z-index: 146;
    width: 116px;
}

.tags-list__item {
    flex-basis: auto;
}

@media (max-width: 480px) {
    .tag-feature {
        font-size: 12px;
        height: 26px;
        line-height: 15px;
    }

    .tag-feature--recommend {
        width: 99px;
    }

    .tag-feature--new {
        width: 72px;
    }

    .tag-feature--discount {
        width: 57px;
    }

    .tag-feature--hit {
        width: 38px;
    }

    .tags-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

/*---------------------------------in-stock-status-block----------------------------*/

.in-stock-status {
    line-height: 15px;
    font-size: 8px;
    margin: 0 15px 0 0;
    text-transform: uppercase;
}

.in-stock-status--awaiting {
    color: #f28c29;
}

.in-stock-status--available  {
    color: #5fa800;
}

/*-------------------------------product-info-block---------------------------------*/

.more-info {
    align-items: flex-start;
    color: #777777;
    display: flex;
    font-size: 9px;
    line-height: 15px;
    overflow-wrap: break-word;
    margin: 0 0 0 1px;
}

.more-info__logo {
    margin: 1px 4px 0 0;
    width: 13px;
    height: 13px;
}

@media (max-width: 480px) {
    .card__options {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 32px 0 0 2px;
    }

    .card__actions {
        width: 191px;
        height: 140px;
    }

    .in-stock-status {
        font-size: 11px;
        margin: 0 0 0 -2px;
    }

    .price {
        font-size: 17px;
        font-weight: bold;
        margin: 16px 0 0 0;
    }

    .price-old {
        font-size: 13px;
        margin: 10px 0 -2px 0;
    }

    .quantity {
        font-size: 13px;
        height: 34px;
        margin: 21px 0 3px -2px;
        width: 100%;
    }

    .quantity__sign {
        padding: 2px 2px 0 0;
        width: 19px;
    }

    .card__buy-button {
        font-size: 12px;
        height: 35px;
        margin: 1px 0 0 -1px;
        padding: 3px 5px 0 0;
        width: 100%;
    }

    .more-info__logo {
        flex: none;
        height: 17px;
        margin: 0 8px 0 0;
        width: 17px;
    }

    .more-info {
        font-size: 12px;
        margin: 17px 0 0 0;
        position: absolute;
        right: 36px;
        white-space: nowrap;
    }
}